body {
    margin: auto;
    padding-right: 0%;
    background-color: slateblue;
    
}

h1 {
   color: rgb(245, 145, 14);
   font-weight: bold;
   text-align: center;
   font-size: 90px;
   padding-top: 100px;
}
h2 {
    text-align: center;
}
pre {
    text-align: center;
    margin: 1px;
    font-size: large;
    

}
hr {
    text-align: center;
    font-size: 100px;
}
